  body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F0F8FF;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  h1 {
    color: #170966;
  }

  h2 {
    color: #170966;
    font-family: Garamond;
  }

  h3 {
    color: #4937ae;
  }

  .list {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
    list-style: none;
  }

  .nav-item {
    padding: 20px;
  }

  .heading {
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: #a8a095;
  }

  .heading img {
    width: 160px;
    height: auto;
    object-fit: cover;
  }

  .heading-text h1 {
    margin: 0;
    font-size: 32px;
  }

  .heading-text h2 {
    margin: 8px 0 0 0;
    font-weight: 400;
    font-size: 20px;
  }


  pre code {
    display: block;
    padding: 1px;
  }

  .header {
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;

  }

  main {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap
  }

  .heading {
    display: flex;
  }

  footer {
    /* flex-shrink: 0; */
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .foot-list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* .foot-item {
    padding: 20px;
  } */